---
interface Props { class?: string; }
const { class: className = "" } = Astro.props;
---
<div class={`relative mx-auto aspect-[9/19.5] w-[260px] rounded-[3rem] border border-white/10 bg-[#0a0a0a] p-3 shadow-[0_40px_120px_rgba(0,0,0,0.8)] ${className}`}>
  <div class="absolute left-1/2 top-3 z-10 h-6 w-28 -translate-x-1/2 rounded-full bg-black"></div>
  <div class="h-full w-full overflow-hidden rounded-[2.3rem] bg-black">
    <slot />
  </div>
</div>
